@folksam-digital:registry=https://pkgs.dev.azure.com/folksam-digital/_packaging/folksam-digital/npm/registry/
@folksam:registry=https://pkgs.dev.azure.com/folksam-digital/_packaging/folksam-digital/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/folksam-digital/_packaging/folksam-digital/npm/registry/:username=folksam-digital
//pkgs.dev.azure.com/folksam-digital/_packaging/folksam-digital/npm/registry/:_password=${NPM_TOKEN_FOLKSAM_DIGITAL}
//pkgs.dev.azure.com/folksam-digital/_packaging/folksam-digital/npm/registry/:email=folksam-digital@sapiens.com
//pkgs.dev.azure.com/folksam-digital/_packaging/folksam-digital/npm/:username=folksam-digital
//pkgs.dev.azure.com/folksam-digital/_packaging/folksam-digital/npm/:_password=${NPM_TOKEN_FOLKSAM_DIGITAL}
//pkgs.dev.azure.com/folksam-digital/_packaging/folksam-digital/npm/:email=folksam-digital@sapiens.com
; end auth token
